<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>flask-bootstrap example</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
     
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>person_id</th>
              <th>death_date</th>
              <th>death_datetime</th>
              <th>cause_concept_id</th>
             
              <th>death_type_concept_id</th>
          
            </tr>
          </thead>
          <tbody>
            {% for data in results %}
            <tr>
              <td>{{ loop.index + (page - 1) * per_page }}</td>
              <td>{{ data.person_id }}</td>
              <td>{{ data.death_date }}</td>
              <td>{{ data.death_datetime }}</td>
              <td>{{ data.cause_concept_id }}</td>
             
              <td>{{ data.death_type_concept_id }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {{ pagination.links }}
    </div>
  </body>
</html>